<!-- <div class="container">
    <nav class="navbar navbar-default">
        <div class="container" style="justify-content: left">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['home']">Home</a></li>
            <li><a [routerLink]="['tdfForms']">Template Drivent Forms</a></li>
            <li><a [routerLink]="['reactive']">Reactive Forms</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                 Kudvenkat
                </a>
                <div class="dropdown-menu">
                    <li>
                        <a routerLinkActive="active" routerLink="list">List</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="create">Create</a>
                    </li>
                </div>
              </li>
          </ul>
        </div>
      </nav>
      <div>
          <router-outlet></router-outlet>
      </div>

</div> -->




<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
      <li class="nav-item" ><a class="a-text" routerLinkActive="active" [routerLink]="['home']">Home</a></li>
      <li  class="nav-item"><a class="a-text" routerLinkActive="active" [routerLink]="['tdfForms']">Template Drivent Forms</a></li>
      <li class="nav-item"><a  class="a-text" [routerLink]="['reactive']">Reactive Forms</a></li>
      <li class="nav-item"><a  class="a-text" [routerLink]="['practice']">practice Questions</a></li>

    <!-- Dropdown -->

    <li class="nav-item dropdown">
      <a class="dropdown-toggle a-text" href="#" id="navbardrop" data-toggle="dropdown">
        Practice
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item a-text" routerLinkActive="active"  [routerLink]="['practice/projection']">Projection</a>
        <a class="dropdown-item a-text"  routerLinkActive="active"   [routerLink]="['practice/mulstrdir']">Multi Structural Directives</a>
        <!-- <a class="dropdown-item a-text" [routerLink]="['parent']">ParentChild</a>
        <a class="dropdown-item a-text" [routerLink]="['routing/userlist']">Routing</a> -->
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="dropdown-toggle a-text" href="#" id="navbardrop" data-toggle="dropdown">
        Kudvenkat
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item a-text" routerLinkActive="active"  [routerLink]="['create']">Create (RFV)</a>
        <a class="dropdown-item a-text"  routerLinkActive="active"   [routerLink]="['list']">List</a>
        <a class="dropdown-item a-text" [routerLink]="['parent']">ParentChild</a>
        <a class="dropdown-item a-text" [routerLink]="['sibling']"> Sibling Component Communication</a>
        <a class="dropdown-item a-text" [routerLink]="['routing/userlist']">Routing</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="dropdown-toggle a-text" href="#" id="navbardrop" data-toggle="dropdown">
        Book Practice
      </a>
      <div class="dropdown-menu">
        <!-- <a class="dropdown-item a-text" routerLinkActive="active"  [routerLink]="['studentList']">ParentChile(Input)</a>
        <a class="dropdown-item a-text"  routerLinkActive="active"   [routerLink]="['list']">List</a>
        <a class="dropdown-item a-text" [routerLink]="['parent']">ParentChild</a> -->
        <!-- <a class="dropdown-item a-text" [routerLink]="['bookpractice/studentList']">ParentChile(Input)</a> -->
      </div>
    </li>
  </ul>
</nav>
<br/>

<div class="container">
    <router-outlet></router-outlet>
</div>


