/* You can add global styles to this file, and also import other style files */
.navbar-nav {
  flex-direction: row !important;
}
li a {
  padding: 10px;
}

.dropdown-menu.show {
  background-color: gray;
}
item:hover{
  background-color: cyan;
}
